# Python temporary files
__pycache__/
*.pyc

# Virtual Environment (NEVER commit this)
.venv/

# Environment Variables (NEVER commit secrets)
.env

# Testing & Linting caches
.pytest_cache/
.ruff_cache/

# IDE settings
.vscode/
.idea/